@import "../../style/var.scss";

.room_item_wrapper {
  width: 33.3%;
  margin: 0 15px 30px;
  transition: 0.5s;
  position: relative;
  &:hover {
    box-shadow: 0 25px 40px -20px #85a2ce;
  }

  &:hover > .room_item > .room_item_hover {
    opacity: 1;
  }
}
.room_item{
  position: relative;
  width: 100%;
  height: auto;


}
.room_item_content {
  text-align: left;
  background: #fff;
  padding: 35px 35px 20px;
  .room_item_content_title {
    font-size: 20px;
  }
  .room_item_content_price{
    color: $light-gray;
    margin-top: 30px;

    span {
      color: $lime;
    }
  }
  .room_item_content_desc{
    color: $light-gray;
    line-height: 24px;
    font-size: 15px;
  }
}
.room_item_hover{
  transition: 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0, 0.6);
  opacity: 0;
}
.room_item_btn {
  padding:10px 35px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  background: $lime;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (min-width: $phone) and (max-width: $tablet) {

}

@media only screen and (min-width: $tablet) and (max-width: $smallScreen) {

}

@media only screen and (min-width: $smallScreen) and (max-width: $mediumScreen) {

}