@import "../../style/var.scss";

.about_head_img {
  background: center/cover no-repeat url("../../assets/2.jpg");
}
#map{
  width: 60%;
  height: 400px;
  margin-top: 30px;
}

@media only screen and (min-width: $phone) and (max-width: $tablet){

}
@media only screen and (min-width: $tablet) and (max-width: $smallScreen){

}
@media only screen and (min-width: $smallScreen) and (max-width: $mediumScreen){

}