@import "../../style/var.scss";
@import "../../style/util.scss";

.slider_container {
  width: 100%;
  position: relative;
  height: 700px;
  overflow:hidden;
}
.slider_content{
  width: 100%;
  height:100%;
  max-height: none;
  //position: relative;
  //overflow:hidden;
  padding: 0;
  margin: 0;
}
.slider_item{
  width: 100%;
  height:100%;
  list-style: none;
  position: absolute;
  top: 0;
  left:0;
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 0;
  visibility: hidden;
  //background-size: cover;
  //background-position: center center;
  transition: 0.3s;
  z-index: 20;
  background-color: rgba(255, 255, 255, 1);

  &.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0);
  }

}

.slider-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter: brightness(0.6);
  display: inline-flex;
}

.slider_text {
  max-height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  font-size: 60px;
  color: #fff;
  text-align: center;
  line-height: normal;
//  transition: 0.5s;
  //transition-delay: 1s;
  //animation: text-appear 0.5s ease-in-out;
}
.slider_text--animation{
  animation-delay: 1s;
  animation: text-appear 0.5s ease-in-out;
}

@keyframes text-appear {
  from { transform: translate(-50%, 100% ); opacity: 1;}
  to { transform: translate(-50%, -50%); opacity: 1; }
}

.slider_arrow {
  cursor: pointer;
  min-width: 60px;
  min-height: 60px;
  position: absolute;
  display: block;
  z-index: 100;
  border-radius: 50%;
  top: 50%;
  //background-color: rgba(255, 255, 255, 0.3);
  background: center/50% 50% no-repeat  url("../../assets/custom-icons/arrow.png"), rgba(255, 255, 255, 0.3);

}

.arrow_right {
  right: 20px;
  transform: rotate(-90deg);
}

.arrow_left{
  left: 20px;
  transform: rotate(90deg);
}

//.slider_arrow {
//  width: 100%;
//  height: 100%;
//  display: block;
//  position: relative;
//  background: #043022;
//
//}
@media only screen and (min-width: $phone) and (max-width: $tablet){

}
@media only screen and (min-width: $tablet) and (max-width: $smallScreen){

}
@media only screen and (min-width: $smallScreen) and (max-width: $mediumScreen){

}